

.muchmore {
    margin-top: 150px;
    text-align: center;
}

.premium-jombotron-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.877) 65%, rgba(238, 82, 26, 0.596) 99%);
}

.premium-jombotron {
    padding-top: 120px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}

.premium-jombotron h1 {
    text-align: center;
    width: 100%;
    max-width: 950px;
    font-size: 55px;
}

.premium-jombotron p {
    margin-top: 65px;
    font-size: 23px;
    font-weight: bold;
    width: 100%;
    max-width: 620px;
    text-align: center;
}

.premium-jombotron button {
    margin-top: 15px;
    border: none;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.premium-jombotron span {
    margin-top: 40px;
}

.premium1 {
    background-color: rgba(0, 0, 0, 0.87);

}

.premium {
    padding: 100px 50px 0 80px;
    color: white;
}

.premium .grid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
}

.grid-writing {
    width: 100%;
    min-width: 300px;
    max-width: 420px;
    margin-top: 120px;
}

.grid-writing h1 {
    font-size: 34px;
    margin-bottom: 30px;
}

.grid-writing p {
    font-size: 17px;
    color: rgba(255, 255, 255, 0.753);
}

.grid-image {
    width: 100%;
    max-width: 580px;
}

.muchmore-grid-cont {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    gap: 20px;
}

.grid-item-img {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.muchmore-grid-item {
    background-color: rgba(0, 0, 0, 0.123);
    border-left: 5px solid orangered;
    padding: 40px 60px 50px 30px;
    width: 100%;
    max-width: 380px;
}

.muchmore-grid-item p {font-size: 15px; margin-top: 20px;}

.muchmore-grid-item h3 {
    font-size: 23px;
}

.jumbotron2 {
    background-color: rgba(0, 0, 0, 0.123);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px 0px 100px 0px;
}

.jumbotron2 h1{
    font-size: 60px;
    text-align: center;
}

.jumbotron2 button{
    margin-top: 15px;
    border: none;
    background-color: orangered;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.jumbotron2 span{
    margin-top: 40px;

}

.jumbotron3 {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 50px;
}

.jumbotron3 h4{
    font-size: 20px;

}

.jumbotron3 p{
    font-size: 14px;
}
@media(max-width: 1200px) {
    .premium .grid-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
    }

    .grid-image {
        width: 100%;
        max-width: 420px;
    }

    .premium {
        padding: 200px 20px 0 40px;
        color: white;
    }
}   

@media(max-width: 1100px) {
    .muchmore-grid-cont {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        gap: 30px;
    }

    .muchmore-grid-item {
        background-color: rgba(0, 0, 0, 0.123);
        border-left: 5px solid orangered;
        padding: 40px 60px 50px 30px;
        width: 100%;
        max-width: 450px;
    }
    
}

@media(max-width: 900px) {
    .premium-jombotron h1 {
        text-align: center;
        width: 100%;
        max-width: 950px;
        font-size: 40px;
    }

    .premium {
        padding: 200px 20px 0 20px;
        color: white;
    }

    .grid-writing {
        width: 100%;
        min-width: 300px;
        max-width: 420px;
        margin-top: 50px;
    }
}

@media(max-width: 800px) {
    .premium .grid-container {
        display: flex;
        flex-direction: column;
        padding-left: 150px;
        width: 100%;
        gap: 20px;
    }


    .grid-writing {
        width: 100%;
        min-width: 300px;
        margin-top: 0;
    }

    .grid-writing p {
        font-size: 16px;
    }

    .grid-image {
        width: 100%;
        max-width: 420px;
    }

    .muchmore-grid-cont {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: auto;
        gap: 20px;
    }

}


@media(max-width: 600px) {
    .premium-jombotron h1 {
        text-align: center;
        width: 100%;
        max-width: 950px;
        font-size: 30px;
    }

    .premium-jombotron p {
        margin-top: 65px;
        font-size: 18px;
        font-weight: bold;
        width: 100%;
        max-width: 620px;
        text-align: center;
    }

    .premium-jombotron button {
        margin-top: 15px;
        border: none;
        background-color: orangered;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        padding: 7px 35px 7px 35px;
        font-size: 16px;
    }

    .jumbotron3 {
        padding-top: 100px;
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: auto;
        gap: 50px;
    }

    

}