*,
*::before,
*::after {
    box-sizing: border-box;
}

.display {
    display: block;
}

.display2 {
    display: inline-block !important;
}

.hide1 {
    display: none;
}

.display1 {
    display: block;
}

.premiumwhite {
    background-color: white !important;
    color: black;
}

.premiumblack {
    background-color: rgba(25, 25, 25, 0.98) !important;
    color: white;

}

.cont-padding {
    padding: 90px 50px 0 50px;
}

.cont1 {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}


.header {
    width: 100%;
    padding: 0 70px;
    position: fixed;
    height: 15vh;
    z-index: 10000;
}


.header-content {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

}

.hamburge {
    display: inline-block;
}


.header-content-links {
    padding: 10px 0px;
}



.header-content .logo {
    width: 50px;
    padding-bottom: 10px;
}



.header-content .link {
    text-decoration: none;
    padding: 20px 11px 15px 15px;
    font-weight: bold;
}


.header-content .link:hover {
    color: rgba(0, 0, 255, 0.562) !important;
}

.header-content .btn {
    font-weight: bold;
    border: 1px solid hsla(0, 0%, 0%, 0.3);
    border-radius: 20px;
    padding-right: 20px !important;
    padding-right: 20px !important;
}

.header-content .btn:hover {
    border: 1px solid hsla(0, 0%, 0%, 0.8);
}


::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.226);
    border-radius: 2px;

}

.main-body .margin-top {
    margin-top: 90px;
}

.main-body {
    margin-top: 93px;
    height: 85vh;
    overflow-y: scroll;
    width: 100%;
    background-color: #f3f0f0;
}

.main-body .features {
    padding: 90px 50px 0 50px;
}


.main-body .feature-jombotron {
    text-align: center;
}

.main-body .feature-jombotron-h1 {
    font-weight: bold;
    font-size: 52px;
    color: black;
}

.main-body .feature-jombotron-p {
    color: rgba(25, 25, 25, .8);
    font-size: 20px;
    padding-top: 10px;
}

.main-body .feature-jombotron-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.main-body .feature-jombotron-button1 {
    padding: 8px 28px;
    font-size: 20px;
    background-color: #4772fa;
    border: none;
    color: white;
}

.main-body .feature-jombotron-button {
    padding: 8px 28px;
    font-size: 20px;
}

.main-body .features-images-container {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-body .features-images-container div {
    width: 100%;
    max-width: 900px;
}

.main-body .featuresimg1 {
    border: 3px solid white;
    padding: 1px;
    border-radius: 15px;
    width: 100%;
    max-width: 850px;
}

.features-ratings-images {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.features-ratings-img {
    width: 100%;
    max-width: 220px;
}

.features-whitecard-container1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.features-whitecard-container {
    width: 95%;
    background-color: white;
    padding: 70px 60px 50px 60px;
    border-radius: 15px;
}

.features-whitecard-container-splitter {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
}

.features-whitecard-image {
    height: 320px;
}

.features-whitecard-text {
    width: 100%;
    max-width: 450px;
}

.features-whitecard-text h2 {
    font-weight: bold;
    font-size: 38px;
}

.features-whitecard-text p {
    font-size: 18px;
}

.features-headings {
    text-align: center;
}

.features-headings h2,
h3 {
    font-weight: bold;
}

.white-unique-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.white-container-unique {
    width: 90%;
    background-color: white;
    padding: 50px 20px 150px 0px;
    border-radius: 15px;
}

.white-container-unique-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow-x: scroll;
}

.white-container-unique-splitter {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
}

.unique-link {
    text-decoration: none;
    background-color: rgba(25, 25, 25, .03);
    color: rgba(25,25,25,.6);
    border-radius: 25px;
    padding: 13px 35px 13px 35px;
    font-size: 18px;
    font-weight: bold;
}

.close-icon {
    font-size: "2rem";
    position: "absolute";
    right: "15px";
    top: "10px";
    cursor: "pointer";
}

.features-whitecard-text-unique {
    width: 100%;
    max-width: 600px;
}

.features-whitecard-text-unique h4{
  font-size: 25px;
}

.features-whitecard-text-unique p{
 font-size: 17px;
}

.features-boxes {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
}

.features-box {}

.features-box-width {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 60px 40px 20px 40px;
    max-width: 450px;
}

.features-box h3 {
    font-size: 27px;
    color: black;
    word-wrap: nowrap;
    word-break: keep-all;
}

.features-box p {
    font-size: 19px;
}


.features-boxes2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
}

.features-box-width2 {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    padding: 40px 20px 10px 20px;
    max-width: 450px;
}

.features-box2 {}

.features-box2 h3 {
    font-size: 18px;
    color: black;
    word-wrap: nowrap;
    word-break: keep-all;
    font-weight: bold;
}

.features-box2 p {
    font-size: 16px;
}

.features-tab-img1 {
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 15px;
    max-width: 1000px;
}

.features-tab-img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    border-radius: 15px;
    max-width: 800px;
}

.features-log2 {}

.features-list-logos-cont {
    display: grid;
    grid-template-columns: repeat(5, 22%);
    grid-template-rows: repeat(auto);
    margin-top: 50px;
}

.features-logo2-seperator {
    display: flex;
    gap: 20px;
    align-items: center;
}

.features-log2-cont p {
    font-size: 28px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-top: 80px;
}

.features-list-logo {
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 200px;
    padding-top: 15px;
}

.features-footer-container {
    background-color: white;
    padding-top: 80px;
    padding-left: 50px;
    border-radius: 2px;
    margin-top: 100px;
    overflow-x: hidden;
}

.features-footer {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    gap: 20px;
}

.features-footer-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features-footer-link a {
    text-decoration: none;
    color: grey;
}

.features-footer-link a:hover {
    text-decoration: underline;
}

.features-footer-link select {
    width: 150px;
    font-weight: bold;
    color: gray;
    padding: 5px 10px 5px 5px;
    border: 1px solid grey;
    border-radius: 5px;
}


.features2-footer-container {
    background-color: rgba(0, 0, 0, 0.795);
    padding-top: 80px;
    padding-left: 50px;
    border-radius: 2px;
    margin-top: 100px;
    overflow-x: hidden;
}

.features2-footer {
    display: grid;
    grid-template-columns: repeat(6, 16%);
    gap: 20px;
}

.features2-footer-link {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.features2-footer-link a {
    text-decoration: none;
    color: #ffffffc9;


}

.features2-footer-link a:hover {
    text-decoration: underline;
    color: #ffffffc9;
}


.features2-footer-link p {
    color: #ffffffc9;

}

.features2-footer-link select {
    width: 150px;
    font-weight: bold;
    color: black;
    padding: 5px 10px 5px 5px;
    border: 1px solid grey;
    border-radius: 5px;
}





@media(max-width: 2000px) {
    .hamburge {
        display: none;
    }

    .second-header-links {
        display: none;

    }

}

@media(max-width: 1077px) {
    .features-boxes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
    }
}

@media(max-width: 1020px) {
    .header-content .btn {
        display: none;
    }
}

@media(max-width: 1115px) {
    .features-whitecard-container {
        width: 95%;
        background-color: white;
        padding: 50px 30px 24px 30px;
        border-radius: 15px;
    }
    
    .features-whitecard-container-splitter {
        display: flex;
        align-content: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    .features-whitecard-text {
        width: 100%;
        max-width: 850px;
    }
    
    .features-whitecard-text h2 {
        font-weight: bold;
        font-size: 30px;
    }
    
    .features-whitecard-text p {
        font-size: 18px;
    }
 
    .features-images {
        width: 100%;
        max-width: 900px;
        min-width: 200px;
        height: 100%;
        max-height: 700px;
        min-height: 100px;
    }

    .features-images2 {
        width: 100%;
        max-width: 800px;
    }

    .features-whitecard-text-unique {
        width: 100%;
        max-width: 350px;
    }
    
    .white-container-unique {
        width: 100%;
        background-color: white;
        padding: 50px 10px 70px 0px;
        border-radius: 15px;
    }

    .white-container-unique-splitter {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        gap: 20px;
        margin-top: 40px;
    }
    
    .unique-link {
        text-decoration: none;
        background-color: rgba(25, 25, 25, .03);
        color: rgba(25,25,25,.6);
        border-radius: 20px;
        padding: 10px 25px 10px 25px;
        font-size: 15px;
        font-weight: bold;
        flex-shrink: 0;
    }

}


@media(max-width: 1000px) {

    .features-images2 {
        width: 100%;
        max-width: 1000px;
    }

    .features-whitecard-text-unique {
        display: none;
    }
    
    .white-container-unique {
        width: 100%;
        background-color: white;
        padding: 50px 0px 150px 0px;
        border-radius: 15px;

    }

    .white-container-unique-splitter {
        display: flex;
        align-content: center;
        justify-content: center;
        gap: 20px;
        margin-top: 40px;
    }

    .features-whitecard-container-splitter {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .features-images {
        width: 100%;
        max-width: 700px;
        min-width: 200px;
    }

    .features-whitecard-text {
        width: 100%;
    }

    .features-whitecard-text h2 {
        font-weight: bold;
        font-size: 18px;
    }

    .features-whitecard-text p {
        font-size: 15px;
    }

    .features-whitecard-container {
        width: 80%;
        background-color: white;
        padding: 20px 20px 0px 20px;
        border-radius: 15px;
    }

    .unique-link {
        text-decoration: none;
        background-color: rgba(25, 25, 25, .03);
        color: rgba(25,25,25,.6);
        border-radius: 20px;
        padding: 10px 25px 10px 25px;
        font-size: 15px;
        font-weight: bold;
        flex-shrink: 0;
    }

    .features-boxes2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 20px;
    }

    .features-box-width2 {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 40px 20px 10px 20px;
        max-width: 450px;
    }

    .features-box2 {}

    .features-box2 h3 {
        font-size: 18px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
        font-weight: bold;
    }

    .features-box2 p {
        font-size: 16px;
    }

}

@media(max-width: 996px) {
    .features-whitecard-container {
        width: 95%;
        background-color: white;
        padding: 20px 30px 10px 30px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
    }

}

@media(max-width: 992px) {

    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 50px 0px 40px;
    }


    .hamburge {
        display: inline-block !important;
        color: rgba(0, 0, 255, 0.466);
        font-size: 25px;
        padding: 10px 15px 10px 15px;
        cursor: pointer;
    }

    .header-content-links {
        padding: 10px 0px;
        display: none;
    }

    .header-content-links {
        padding: 10px 0px;
        display: none;
    }

    .header {
        width: 100%;
        padding: 0 0px;
        position: fixed;
        height: 12vh;
        z-index: 10000;
    }

    .link2 {
        text-decoration: none;
        font-weight: bold;
        padding-bottom: 15px;
        padding-top: 10px;

    }

    .second-header-links {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px 0px 10px 35px;
    }

    .main-body {
        margin-top: 76px;
        height: 88vh;
        overflow-y: scroll;
        width: 100%;
        background-color: #f3f0f0;
    }
}

@media(max-width: 900px) {
    .main-body .feature-jombotron-button1 {
        padding: 4px 28px;
        font-size: 15px;
        background-color: #4772fa;
        border: none;
        color: white;
    }
    
    .main-body .feature-jombotron-button {
        padding: 4px 28px;
        font-size: 16px;
    }

    .features-box h3 {
        font-size: 25px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
    }
    
    .features-box p {
        font-size: 16px;
    }
    
}

@media(max-width: 700px) {
    .header-content .links {
        display: flex;
        gap: 15px;
        font-weight: bold;
    }

    .features-whitecard-container {
        width: 95%;
        background-color: white;
        padding: 20px 30px 10px 30px;
        border-radius: 15px;
        display: flex;
        justify-content: flex-start;
    }

    .features-box2 h3 {
        font-size: 15px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
        font-weight: bold;
    }
    
    .features-box2 p {
        font-size: 12px;
    }

    .main-body .feature-jombotron {
        text-align: none;
    }
    
    .main-body .feature-jombotron-h1 {
        font-weight: bold;
        font-size: 45px;
        color: black;
    }
    
    .main-body .feature-jombotron-p {
        color: rgba(25, 25, 25, .8);
        font-size: 15px;
        padding-top: 10px;
    }
}

@media(max-width: 480px) {

    .main-body .feature-jombotron-button {
        padding: 5x 18px;
        font-size: 16px;
    }

    .main-body .feature-jombotron-button1 {
        padding: 8px 18px;
        font-size: 16px;
        background-color: #4772fa;
        border: none;
        color: white;
    }

    .features-ratings-images {
        margin-top: 245px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .features-ratings-img {
        width: 100%;
        max-width: 100px;
    }


    .header {
        width: 100%;
        padding: 0 0px;
        position: fixed;
        height: 11vh;
        z-index: 10000;
    }


    .header-content {
        display: flex;
        justify-content: space-between;
        padding: 10px;

    }

    .header-content img {
        width: 100%;
        max-width: 40px;
        height: 50px;
    }

    .header-content-links {
        padding: 0px 0px;
    }

    .second-header-links {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0px 0px 15px 15px;
    }

    .link2 {
        text-decoration: none;
        font-weight: bold;
    }

    .hamburge {
        display: inline-block !important;
        color: rgba(0, 0, 255, 0.466);
        font-size: 20px;
        padding: 10px 15px 10px 15px;
        cursor: pointer;
    }

    .main-body {
        margin-top: 70px;
        height: 89vh;
        overflow-y: scroll;
        width: 100%;
        background-color: #f3f0f0;
    }

    .features-box2 h3 {
        font-size: 13px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
        font-weight: bold;
    }
    
    .features-box2 p {
        font-size: 11px;
    }

}

@media(max-width: 300px) {
    .main-body .feature-jombotron-button {
        padding: 0x 0px;
        font-size: 10px;
    }

    .main-body .feature-jombotron-button1 {
        padding: 0px 0px;
        font-size: 10px;
        background-color: #4772fa;
        border: none;
        color: white;
    }

}


@media(max-width: 553px) {

    .main-body .feature-jombotron-h1 {
        font-weight: bold;
        font-size: 40px;
        color: black;
    }

    .features-log2-cont p {
        font-size: 18px;
        font-weight: normal;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .features-list-logos-cont {
        display: grid;
        grid-template-columns: repeat(3, 35%);
        margin-top: 50px;
    }

    .features-boxes2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 20px;
    }

    .features-box-width2 {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 40px 20px 10px 20px;
        max-width: 450px;
    }

    .features-box2 {}

    .features-box2 h3 {
        font-size: 18px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
        font-weight: bold;
    }

    .features-box2 p {
        font-size: 16px;
    }
    .features-box h3 {
        font-size: 23px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
    }
    
    .features-box p {
        font-size: 14px;
    }
    

}

@media(max-width: 480px) {
    .features-footer-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .features-footer-link p {}

    .features-footer-link a {
        font-size: 12px;
    }


    .features2-footer-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }

    .features2-footer-link p {}

    .features2-footer-link a {
        font-size: 12px;
    }
}

@media(max-width: 650px) {
    .features-whitecard-container {
        width: 95%;
        background-color: white;
        padding: 20px 30px 10px 30px;
        border-radius: 15px;
    }

    .features-images {
        width: 100%;
        max-width: 700px;
        min-width: 200px;
        height: 100%;
        max-height: 400px;
        min-height: 10px;
    }

    .features-whitecard-text p {
        font-size: 12px;
    }

    .features-box h3 {
        font-size: 22px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
    }
    
    .features-box p {
        font-size: 14px;
    }
    
    
}

@media(max-width: 600px) {
    .features-box h3 {
        font-size: 20px;
        color: black;
        word-wrap: nowrap;
        word-break: keep-all;
    }

    .features-box p {
        font-size: 15px;
    }

    .features-box-width {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 50px 20px 10px 20px;
        max-width: 450px;
    }

    .features-footer-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 23px;
    }

    .features2-footer-link {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 40px;
    }
}

@media(max-width: 800px) {
    .features-footer {
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }

    .features2-footer {
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }

    .features-tab-img {
        width: 100%;
        border-radius: 15px;
    
    }
}


@media(max-width: 500px) {

    .features-whitecard-container {
        width: 95%;
        background-color: white;
        padding: 15px 15px 0px 15px;
        border-radius: 15px;
    }

    .features-whitecard-container-splitter {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        gap: 10px;
    }
    
    
    .features-whitecard-text {
        width: 100%;
        max-width: 500px;
    }

    .features-images {
        width: 100%;
        max-width: 900px;
        min-width: 200px;
        height: 100%;
        min-height: 10px;
    }

    .features-whitecard-text p {
        font-size: 12px;
    }

    .features-footer {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    .features2-footer {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }


    .features-box-width {
        background-color: white;
        border-radius: 10px;
        width: 100%;
        padding: 10px 10px 10px 10px;
        max-width: 450px;

    }

    .features-box-width p {
        font-size: 12px;
    }

    .features-box-width h3 {
        font-size: 14px;
    }
}


@media(max-width: 1115px) {
    .features-ratings-images {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 190px;
    }

}

@media(max-width: 951px) {
    .features-ratings-images {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        gap:40px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 170px;
    }

}

@media(max-width: 858px) {
    .features-ratings-images {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        gap:40px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 160px;
    }
}

@media(max-width: 828px) {
    .features-ratings-images {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        gap:40px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 140px;
    }
}

@media(max-width: 790px) {
    .white-container-unique {
        width: 90%;
        background-color: white;
        padding: 50px 20px 50px 0px;
        border-radius: 15px;
    }
}
@media(max-width: 780px) {
    .white-container-unique {
        width: 90%;
        background-color: white;
        padding: 30px 20px 40px 0px;
        border-radius: 15px;
    }
}
@media(max-width: 770px) {
    .white-container-unique {
        width: 90%;
        background-color: white;
        padding: 30px 20px 30px 0px;
        border-radius: 15px;
    }
}
@media(max-width: 760px) {
    .white-container-unique {
        width: 90%;
        background-color: white;
        padding: 30px 20px 30px 0px !important;
        border-radius: 10px;
    }
}

@media(max-width: 540px) {
    .white-container-unique {
        width: 100%;
        background-color: white;
        padding: 30px 0px 0px 0px;
        border-radius: 10px;
        height: 100%;
        max-height: 450px;
    }
}


@media(max-width: 490px) {
    .white-container-unique {
        width: 100%;
        background-color: white;
        padding: 30px 0px 0px 0px;
        border-radius: 10px;
        height: 100%;
        max-height: 450px;
    }
}


@media(max-width: 464px) {
    .white-container-unique {
        width: 100%;
        background-color: white;
        padding: 30px 0px 0px 0px;
        border-radius: 10px;
        height: 100%;
        max-height: 400px;
    }
}


@media(max-width: 440px) {
    .white-container-unique {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.699);
        padding: 20px 0px 0px 0px !important;
        border-radius: 10px;
        height: 100%;
        max-height: 350px;
    }
}

@media(max-width: 350px) {
    .white-container-unique {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.699);
        padding: 20px 0px 0px 0px !important;
        border-radius: 10px;
        height: 100%;
        max-height: 283px;
    }
}

@media(max-width: 350px) {
    .white-container-unique {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.699);
        padding: 20px 0px 0px 0px !important;
        border-radius: 10px;
        height: 100%;
        max-height: 253px;
    }
}
@media(max-width: 740px) {
    .features-ratings-images {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        gap:40px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 120px;
    }

    
    .features-images2 {
        width: 100%;
        max-width: 1000px;
    }

    .features-whitecard-text-unique {
        display: none;
    }
    
    .white-container-unique {
        width: 100%;
        background-color: white;
        padding: 50px 0px 20px 0px;
        border-radius: 15px;

    }

    .white-container-unique-splitter {
        display: flex;
        align-content: center;
        justify-content: flex-start;
        gap: 20px;
        margin-top: 40px;
    }

}

@media(max-width: 665px) {
    .features-ratings-images {
        margin-top: 90px;
        display: flex;
        justify-content: space-between;
        gap:40px;
        padding-left: 5px;
        padding-right: 5px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 100px;
    }
}

@media(max-width: 580px) {
    .main-body .features {
        padding: 90px 5px 0 5px;
    }
    
    .features-ratings-images {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        gap:10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 170px;
    }
}

@media(max-width: 444px) {
    .features-ratings-images {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 204px);
        gap:10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 150px;
    }
}

@media(max-width: 419px) {
    .features-ratings-images {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 150px);
        gap:10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 100px;
    }
}

@media(max-width: 264px) {
    .features-ratings-images {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 104px);
        gap:10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .features-ratings-img {
        width: 100%;
        max-width: 80px;
    }

    .main-body .features {
        padding: 90px 0px 0 0px;
    }
    
}